@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
body {
    background: #030a1c;
}

.ui-theme-dark {
    --bgMain: #18171a;
    --bgMainT: #18171ae3;
    --canvasBg: #202022;
    --bgLight: #262628;
    --bgDark: #131214;
    --bgDarkT: #131214e3;
    --textMain: #ffffff;
    --textDim: #cacaca;
    --important: #2741ff;
    --importantT: #2740ffa9;
    --error: #ff163d;
    --errorT: #ff163da9;
    --importantText: #ffffff;
    --scrollTrack: #201F22;
    --scrollHover: #3B3A3D;
    --toolBarDim: #49484a;
    --toolBarHover: #7f7f80;
}

#logo {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    position: absolute;
    width: 70px;
}

#logo img {
    position: absolute;
    width: 70px;
}

#logo img.blur {
    top: 10px;
    z-index: -100;
    filter: blur(15px);
    opacity: 40%;
}

button {
    position: absolute;
    font-size: 16px;
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #ffc23b, #ff8017);
    font-family: 'JetBrains Mono', monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}

button::after {
    content: 'Test Alert';
    width: 100%;
    height: 100%;
    position: inherit;
    background: inherit;
    top: 0;
    left: 0;
    top: 10px;
    z-index: -100;
    filter: blur(15px);
    opacity: 40%;
}