@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
.alrt-wrap {
    position: relative;
    padding-right: 10px;
    animation-duration: 0.4s;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alrt-wrap p {
    font-family: inherit;
    font-size: 16px;
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center
}

.alrt-top-left .alrt-wrap,
.alrt-top-right .alrt-wrap,
.alrt-top-center .alrt-wrap {
    animation-name: alrt-anim-top-in;
    margin-top: 10px;
}

.alrt-bottom-left .alrt-wrap,
.alrt-bottom-right .alrt-wrap,
.alrt-bottom-center .alrt-wrap {
    animation-name: alrt-anim-bottom-in;
    margin-bottom: 10px;
}

.alrt-bottom-left,
.alrt-top-left {
    margin-left: 10px;
}

.alrt-bottom-right,
.alrt-top-right {
    margin-right: 10px;
}

div[id^='alrt-main'],
div[id*='alrt-main'] {
    height: fit-content;
    width: fit-content;
    position: fixed;
    display: table-cell;
    vertical-align: bottom;
    overflow: hidden;
    pointer-events: none;
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-bottom-left {
    bottom: 0;
    left: 0;
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-top-left {
    top: 0;
    left: 0;
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-bottom-right {
    bottom: 0;
    right: 0;
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-top-right {
    top: 0;
    right: 0;
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

div[id^='alrt-main'],
div[id*='alrt-main'].alrt-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes alrt-anim-top-in {
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
}

@keyframes alrt-anim-top-out {
    0% {
        opacity: 1;
        max-height: 50px;
        min-height: 50px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
        min-height: 0px;
        margin-top: 0px;
    }
}

.alrt-top-out {
    animation-name: alrt-anim-top-out !important;
    animation-duration: 0.4s;
    overflow: hidden;
    animation-fill-mode: forwards;
}

@keyframes alrt-anim-bottom-in {
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
}

@keyframes alrt-anim-bottom-out {
    0% {
        opacity: 1;
        max-height: 50px;
        min-height: 50px;
    }
    100% {
        opacity: 0;
        max-height: 0px;
        min-height: 0px;
        margin-bottom: 0px;
    }
}

.alrt-bottom-out {
    animation-name: alrt-anim-bottom-out !important;
    animation-duration: 0.4s;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.alrt-btn-wrap {
    height: 30px;
    width: fit-content;
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
}

.alrt-wrap[data-theme="alrt-default-light"] {
    font-family: sans-serif;
    color: black;
    background: white;
    padding: 0px 20px;
    min-height: 50px;
    width: 175px;
    max-width: 175px;
    border-radius: 10px;
}

.alrt-wrap[data-theme="alrt-default-light"] p {
    margin: 15px 0;
}

.alrt-wrap[data-theme="alrt-default-light"] p i {
    font-size: 20px;
    color: #333333;
}

.alrt-wrap[data-theme="alrt-default-light"] .alrt-close-button {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    pointer-events: all;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    background: none;
    outline: none;
    border: none;
    color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.alrt-wrap[data-theme="alrt-default-light"]:hover .alrt-close-button {
    color: #e0e0e0;
}

.alrt-wrap[data-theme="alrt-default-light"] .alrt-close-button:hover,
.alrt-wrap[data-theme="alrt-default-light"] .alrt-close-button:focus {
    background: #e0e0e0;
    color: #a7a7a7 !important;
    border-radius: 5px;
}

.alrt-wrap[data-theme="alrt-default-dark"] {
    font-family: sans-serif;
    color: white;
    background: rgb(20, 20, 20);
    padding: 0px 20px;
    min-height: 50px;
    width: 175px;
    max-width: 175px;
    border-radius: 10px;
}

.alrt-wrap[data-theme="alrt-default-dark"] p {
    margin: 15px 0;
}

.alrt-wrap[data-theme="alrt-default-dark"] p i {
    font-size: 20px;
    color: #a7a7a7;
}

.alrt-wrap[data-theme="alrt-default-dark"] .alrt-close-button {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    pointer-events: all;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    background: none;
    outline: none;
    border: none;
    color: transparent;
    cursor: pointer;
    margin-left: 5px;
}

.alrt-wrap[data-theme="alrt-default-dark"]:hover .alrt-close-button {
    color: rgb(36, 35, 35);
}

.alrt-wrap[data-theme="alrt-default-dark"] .alrt-close-button:hover,
.alrt-wrap[data-theme="alrt-default-dark"] .alrt-close-button:focus {
    background: rgb(36, 35, 35);
    color: rgb(66, 64, 64) !important;
    border-radius: 5px;
}